/* You can add global styles to this file, and also import other style files */

//@import '~bootstrap/dist/css/bootstrap.css';
.id{
    color: #AAA;
}
.badge{
    float: right;
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}