<div *ngIf="hero">
  <h2><small>{{hero.id}} </small>{{hero.name | uppercase}} 
    <button class="btn btn-secondary float-right" routerLink="/edit/{{hero.id}}">Editar</button>
  </h2>
  <hr>

  <div>
    <h5 for="description">Descripcion</h5>
    <p>{{hero.description}}</p>
  </div>

  <button type="button" class="btn btn-default" (click)=votePlus()>
    <i class="far fa-thumbs-up"></i>
  </button>
  <button type="button" class="btn btn-default" (click)=voteLess()>
    <i class="far fa-thumbs-down"></i>
  </button>

</div>